<div class="container">
    <h1>Add Store</h1>
    <div class="form">
        <div class="form_row">
            <label>Name:</label>
            <input type="text" class="form_name" name="" />
        </div>
        <div class="form_row">
            <label>Username:</label>
            <input type="text" class="form_name" name="" />
        </div>
        <div class="form_row">
            <label>Description:</label>
            <input type="text" class="form_name" name="" />
        </div>
        <div class="form_row">
            <label>Img_Link:</label>
            <input type="file" class="form_name" name="" />
        </div>
        <div class="form_row">
            <label>Status:</label>
            <select class="form_select" name="">
                <option>Select one</option>
                <option>Active</option>
                <option>Deleted</option>
            </select>
        </div>
        <div class="form_row">
            <label>City:</label>
            <select class="form_name" name="">
                <option>Select one</option>
            </select>
        </div>
        <div class="form_row">
            <label>District:</label>
            <select class="form_name" name="">
                <option>Select one</option>
            </select>
        </div>
        <div class="form_row">
            <label>Ward:</label>
            <select class="form_name" name="">
                <option>Select one</option>
            </select>
        </div>
        <div class="form_row">
            <label>Country:</label>
            <select class="form_name" name="">
                <option>Select one</option>
            </select>
        </div>
        <div class="form_row">
            <a href="#" type="submit" class="form_submit"> Add</a>
        </div>
    </div>
</div>