<div class="col-sm-9">
    <div class="container">
        <h1>Edit Store</h1>
        <div class="form">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab">Profile</a></li>
            </ul>
            <div class="form_row">
                <label>Name:</label>
                <input type="text" value="Micheal" class="form_name" name="">
            </div>
            <div class="form_row">
                <label>Username:</label>
                <input type="text" value="Owen" class="form_name" name="">
            </div>
            <div class="form_row">
                <label>Description:</label>
                <input type="text" value="Striker" class="form_name" name="">
            </div>
            <div class="form_row">
                <label>Img_Link:</label>
                <input type="file" class="form_name" name="">
            </div>
            <div class="form_row">
                <label>Status:</label>
                <select class="form_select" name="">
                    <option>Select one</option>
                    <option>Active</option>
                    <option>Deleted</option>
                </select>
            </div>
            <div class="form_row">
                <label>City:</label>
                <select class="form_name" name="">
                    <option>Select one</option>
                </select>
            </div>
            <div class="form_row">
                <label>District:</label>
                <select class="form_name" name="">
                    <option>Select one</option>
                </select>
            </div>
            <div class="form_row">
                <label>Ward:</label>
                <select class="form_name" name="">
                    <option>Select one</option>
                </select>
            </div>
            <div class="form_row">
                <label>Country:</label>
                <select class="form_name" name="">
                    <option>Select one</option>
                </select>
            </div>
            <div class="form_row">
                <a href="#" type="submit" class="form_submit"> Update</a>
            </div>
        </div>
    </div>
</div>