<div class="col-sm-9">
    <h1>Store List</h1>
    Search: <input [(ngModel)]="searchkey" type="text" />
    <button (click)="LoadData()" class="btn-default">Search</button>

    <table class="table table-striped table" *ngIf="stores">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let store of stores">
                <td>{{store.ID}}</td>
                <td><a [routerLink]="['/stores/store-detail', store.ID]">{{store.Name}}</a></td>
                <td>{{store.Status}}</td>
            </tr>
        </tbody>
    </table>

</div>


