<div class="col-sm-12">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#menu">SELLING WITH US</a></li>@*Reject shipper*@
        <li><a data-toggle="tab" href="#menu1">TERMS AND CONDITIONS</a></li> @*approve processing order*@
        <li><a data-toggle="tab" href="#menu2">INSTRUMENT</a></li>
    </ul>
    <div class="tab-content" style="border-bottom:0px">
        <div id="menu" class="tab-pane fade in active">
            <img src="http://sg-live-01.slatic.net/cms/Market-Place/banner1.jpg" class="img-responsive" />
            <div class="row" style="padding:20px 0 20px 0">
                <div class="col-sm-4" style="text-align:center">
                    <div style="text-align:center">
                        <img src="http://sg-live-02.slatic.net/cms/Market-Place/TAB1-STEP1.png"/>
                    </div>
                    <label>Step 1: Create your own store</label>
                    <p>You can create many stores </p>
                </div>
                <div class="col-sm-4" style="text-align:center">
                    <div style="text-align:center">
                        <img src="http://sg-live-03.slatic.net/cms/Market-Place/TAB1-STEP2.png"/>
                    </div>
                    <label>Step 2: Active your store</label>
                    <p>Send us your store detail, after reviewing your store will be mark as confirm</p>
                </div>
                <div class="col-sm-4" style="text-align:center">
                    <div style="text-align:center">
                        <img src="http://sg-live-02.slatic.net/cms/Market-Place/TAB1-STEP3.png"/>
                    </div>
                    <label>Step 3: Post product and start selling</label>
                    <p>You can sell product right after the first step</p>
                </div>
                
            </div>
            <div class="row" style="text-align:center">
                <button class="btn become-us-btn" [routerLink]="['/stores/store-add']">BECOME A SELLER</button>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h2 style="text-align:center">
                SELLING TERMS AND CONDITIONS
                
            </h2>
            OBJECT OF THE ONLINE CONTRACT AND ITS DEFINITION<br />
            To purchase "on line" contract means the distance contract and that the legal transaction concerning the PRODUCTS, SPORTS EQUIPMENT, in the www.ethen.eu site; The contract is between Ethen S.R.L. CUSTOMER and the consumer under a distance sales system organized by the supplier, who, for this contract, uses the technology of distance communication called "Internet." All contracts, therefore, will be made through the access by the consumer client to the corresponding website at: www.ethen.eu following the procedures for the purchase of the property. For the final consumer is the person who buys goods and services for purposes not directly related to their professional activity. Below we report the conditions of sale that will remain effective until changed by the supplier. Any changes to the conditions of sale will be effective from the moment they are published on the website and will refer to sales made from that moment on.
            <br />
            TAX RATE.<br />
            All the selling prices of the exposed services indicated on the website, for which an offer to the public pursuant to art. 1336 cc, they are inclusive of VAT
            <br />
            SHIPPING FEES <br />
            For all orders with delivery in Italy, shipping costs to be added to the total cost of the article inserted into the cart are fixed at € 6,00 for amounts less than € 45.00, € 3.00 for amounts exceeding € 45,00, will be free for amounts exceeding € 70.00.
            For orders with delivery abroad, the shipping charges are variable depending on the destination country, the cost estimate is displayed before completion of the order. The formalities for the import of PRODUCTS (eg. Customs formalities) and all possible additional costs due to taxes or fees provided by law in the host State (duties, indirect taxes, etc. ) will be directly at the expense of foreign consumers .

            CONCLUSION OF THE CONTRACT<br />
            The purchase agreement can take place only when there is complete filling in the "on-line" application form including consensus expressed by the adhesion itself. The contract in any case is concluded by sending of an e-mail confirmation by Ethen SRL to the CUSTOMER that normally occurs within the next business day. The contract is deemed not perfected and effective between the failing of that e-mail parts. CUSTOMER agrees, once the online purchase procedure, to handle the press and the conservation of this contract. The information contained in this contract have been, however, already examined and accepted by the CUSTOMER, who acknowledges, as this step is mandatory before the purchase confirmation.
            <br />
            PAYMENT<br />
            The customer can pay the ordered goods using only the methods of online payment indicated on the purchase.
            <br />
            MANNER OF PAYMENT<br />
            The payment methods available to you are as follows:<br />
            <p>BANK TRANSFER</p>
            <p>CREDIT CARD</p>
            <p>PAYPAL</p>
            <p>Ethen SRL guarantees the security of payment and the data related to the credit card, as ALL payment transactions are made DIRECTLY by the Banking Institute itself, on its own secure server and neither Ethen SRL nor anyone else will ever be aware of the data and number of credit card for payment.</p>

            <br />
            SALES DOCUMENTS<br />
            At the time of purchase you will be issued a receipt or invoice, which will be one sales document that will be inserted in a sealed envelope and sent with the goods in the space reserved for the transport documents. In the case of export outside the European Union an invoice will be issued.
            <br />
            TIME OF DELIVERY AND DELIVERY OF PRODUCTS<br />
            <p>Delivery of products: subject to the right of withdrawal provided below, Ethen SRL is committed to deliver the PRODUCTS via carrier for their transport to the address indicated by the Client in the purchase order. Delivery is made by express delivery therefore mailboxes can not be accepted. The shipment of goods from the place of Ethen SRL, is generally carried out within seven days of receipt of the order or in time possibly longer (but no more than 14 days) in the e-mail confirmation of the contract. For orders of customized items confirmation will be agreed between the parties.</p>
            <p>Ethen SRL will not be responsible for delivery errors due to inaccuracy or incompleteness in filling in the purchase order by the CUSTOMER. In case of failure to deliver for causes attributable to the CUSTOMER the referral will be made to the latter to be made in advance expenses.</p>
            <p>Delivery will take place throughout the entire European Union and also in non-EU country. For deliveries to be made out of the European Union the order must be preceded by an email to verify the possibility of proceeding with the shipment.</p>

            Unavailability of Products: Ethen SRL fits into the Web site only products from its warehouses or in production. Occasionally the sales made by the company in its different modes may result in the temporary unavailability of the products ordered. In this case Ethen SRL will send the e-mail order confirmation to the CUSTOMER with an indication of Pending Order with an indication of the time needed for processing.
            The CUSTOMER may at its option:
            a) require the immediate execution of the available products and cancel the order products not in stock;
            b) wait for the complete availability of products for order fulfillment;
            c) cancel the entire order.
            In cases a) and c) the CUSTOMER will be entitled to a refund of any amounts paid for products that will not be shipped.

        </div>
        <div id="menu2" class="tab-pane fade">
            <h2 style="text-align:center">
                What you will have
            </h2>
            <label>What we give you first?</label>
            <p>You are able to post and sell product after the registration. Every store is allowed to post up to 10 products.</p>
            <label>How to get more selling slot?</label>
            <p>We are providing a function that helps you to buy more selling slots with several packages</p>
            <label>Buy seling slot guidance:</label>
            <p>Go to your store detail page and look at the store information area you can see</p>
            <img class="img-responsive" src="~/Content/img/payment/store selling slot.PNG"/>
            <p>Click "Buy more" and you be navigated to the store upgrade page</p>
            <img src="~/Content/img/payment/store-packages.PNG" class="img-responsive"/>
            <label>How many payment methods I can use?</label>
            <p>At this time we only providing online payment</p>
        </div>
    </div>
</div>