
<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">{{store.Name}}</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{{store.ImgLink}}" alt="http://placehold.it/150x200" class="img-rounded img-responsive" style="width:150px;height:200px" />

                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>
                                {{store.Name}}
                            </h4>
                            <p>
                                <i class="fa fa-user-o"></i> Status: {{store.Status}}
                                <br />
                                <i class="glyphicon glyphicon-pencil"></i> Desription: {{store.Description}}
                                <br />
                                <i class="glyphicon glyphicon-map-marker"></i> Address: {{store.Address}}, {{store.Ward}}, {{store.District}}, {{store.City}}
                                <br />
                                <a class="btn btn-default" *ngIf="isAllowed" [routerLink]="['/products/product-add', store.ID]">Add Product</a>
                                <a class="btn btn-default" *ngIf="isOwner" [routerLink]="['/products/product-approve-list', store.ID]">Approve List</a>
                                <button class="btn btn-default" *ngIf="!isOwner && !isAllowed && store.IsRecruiting == true" data-toggle="modal" data-target="#apply" >Apply</button>
                                <button *ngIf="isOwner && store.IsRecruiting == false" data-toggle="modal" data-target="#recruit" class="btn btn-default">Recruit</button>
                                <button *ngIf="isOwner && store.IsRecruiting == true" (click)="DisableRecruitment()" class="btn btn-default">Disable Recruitment</button>
                                <a class="btn btn-default" *ngIf="isOwner" [routerLink]="['/shippers/shipper-store-list', store.ID]">Shipping List</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div *ngFor="let product of store.Products">
            <template [ngIf]="product.StatusID == 1">
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <a class="btn btn-primary" *ngIf="isAllowed" [routerLink]="['/products/product-edit', product.ID]" >Edit</a>
                            <div class="productinfo text-center">
                                <a [routerLink]="['/products/product-detail', product.ID]"><img src="{{product.ThumbailLink}}" alt="" style="width:50px; height:50px; text-align:center" /></a>
                                <h2>{{product.Price | currency:'USD':true:'1.0-0'}}</h2>
                                <a [routerLink]="['/products/product-detail', product.ID]"><p>{{product.Name}}</p></a>
                                <button *ngIf="product.StatusId != 3" class="btn btn-default add-to-cart" (click)="AddToCart(product.ID)"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                            </div>

                        </div>
                    </div>
                </div>
            </template>
        </div>
        <div class="clearfix"></div>
        <div class="modal fade" id="recruit" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Recruitment Announcement</h4>
                    </div>
                    <div class="modal-body">
                        <textarea [(ngModel)]="store.RecruitmentMessage"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" (click)="SetRecruitment()">Apply</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="apply" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Recruitment Requirement</h4>
                    </div>
                    <div class="modal-body">
                        {{store.RecruitmentMessage}}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" (click)="Apply()">Apply</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--features_items-->
</div>








