
@*<div class="col-lg-6" *ngIf="user">
    <form class="form-group" #f="ngForm" (ngSubmit)="editUser()">
        <div class="col-lg-12" style="color:black">
            <label class="col-md-3">User name:</label> <input class="col-md-6 display-inline form-control" type="text" name="username" [(ngModel)]="user.UserName" />
        </div>
        <br />
        
        <div class='date' id='datetimepicker'>
            <label class="col-md-3">Date of birth:</label>
            <input class="form-control col-md-6" type="text" name="DOB" id="datetimepicker" [(ngModel)]="user.DOB" />
            <span class="glyphicon glyphicon-calendar" id="datetimepicker"></span>
        </div>
        <br />
        <label>Created At:</label> {{user.RegDate | date}}<br />
        <label>Country: </label> {{user.Country}}
        <button class="btn btn-success" type="submit">Save</button>
    </form>

</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
            locale: 'us'
        });
    });
</script>*@


<div class="container">
    <h1>Edit User</h1>
    <div class="form">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab">Profile</a></li>
        </ul>
        <div class="form_row">
            <label>Name:</label>
            <input type="text" value="Micheal" class="form_name" name="">
        </div>
        <div class="form_row">
            <label>Date of Birth:</label>
            <input type="date" value="1992-01-01" class="form_date" name="">
        </div>
        <div class="form_row">
            <label>Status:</label>
            <select class="form_select" name="">
                <option>Select one</option>
                <option>Active</option>
                <option>Deleted</option>
            </select>
        </div>
        <div class="form_row">
            <a href="#" type="submit" class="form_submit"> Update</a>
        </div>
    </div>
</div>