
@{
    ViewBag.Title = "UserDetail";
}

<div class="col-lg-6" *ngIf="user">
    <label>User name:</label> {{user.UserName}}<br />
    <label>Date of birth:</label> {{user.DOB | date}}<br />
    <label>Created At:</label> {{user.RegDate | date}}<br />
    <label>Country: </label> {{user.Country}}
</div>

