<div class="col-sm-9">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#home" (click)="LoadData(4)">Ordering</a></li>
        <li><a data-toggle="tab" href="#menu1" (click)="LoadData(1)">Waiting For Shipping</a></li>
        <li><a data-toggle="tab" href="#menu2" (click)="LoadData(3)">Completed</a></li>
        <li><a data-toggle="tab" href="#menu3" (click)="LoadData(2)">Delivering</a></li>
    </ul>

    <div class="tab-content" *ngIf="orders">
        <div id="home" class="tab-pane fade in active">
            <div *ngFor="let order of orders">
                <div class="row">
                    Order: <a [routerLink]="['order-detail', order.ID]">{{order.ID}}</a><br />
                    Created Date: {{order.CreateDate | date}}
                </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div *ngFor="let order of orders">
                    <div class="row">
                        Order: <a [routerLink]="['order-detail', order.ID]">{{order.ID}}</a>
                        Order Code: {{order.OrderCode}}
                        Created Date: {{order.CreateDate | date}}
                    </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div *ngFor="let order of orders">
                    <div class="row">
                        Order: <a [routerLink]="['order-detail', order.ID]">{{order.ID}}</a>
                        Created Date: {{order.CreateDate | date}}
                    </div>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div *ngFor="let order of orders">
                    <div class="row">
                        Order: <a [routerLink]="['order-detail', order.ID]">{{order.ID}}</a>
                        Created Date: {{order.CreateDate | date}}
                    </div>
            </div>
        </div>
    </div>
</div>
