<div class="col-sm-9">
    <i class="fa fa-plus-square-o" aria-hidden="true" data-toggle="collapse" data-target="#abcxyz"></i>
    <div id="abcxyz" class="collapse">
        <h1>hello</h1>
    </div>
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#menu" (click)="LoadData(4)">Ordering</a></li>
        <li><a data-toggle="tab" href="#menu1" (click)="LoadData(1)">Waiting For Shipping</a></li>
        <li><a data-toggle="tab" href="#menu2" (click)="LoadData(3)">Completed</a></li>
        <li><a data-toggle="tab" href="#menu3" (click)="LoadData(2)">Delivering</a></li>
    </ul>

    <div class="tab-content" *ngIf="orders">
        <div id="menu" class="tab-pane fade in active">
            <div *ngFor="let order of orders">
                <template [ngIf]="order.StatusID === 4">
                    <div class="row">
                        <div class="col-sm-1"><i class="fa fa-plus-square-o" aria-hidden="true" data-toggle="collapse" [attr.data-target]="'#detail'+order.ID"></i></div>
                        <div class="col-sm-2">#<a [routerLink]="['order-detail', order.ID]">{{order.ID}}</a><br /></div>
                        <div class="col-sm-3">{{order.OrderCode}}</div>
                        <div class="col-sm-3">Created Date: {{order.CreatedDate | date}}</div>
                    </div>
                    <div class="row collapse" id="detail{{order.ID}}">
                        <table class="table">
                            <thead class="thead-inverse">
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        Quantity
                                    </td>
                                    <td>
                                        Price
                                    </td>
                                    <td>
                                        Total
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detail of order.details">
                                    <td>{{detail.Product}}</td>
                                    <td>

                                        <input type="text" [(ngModel)]="detail.Quantity" id="item{{detail.ID}}" />
                                        <button (click)="ChangeQuantity(detail.ID)" class="btn btn-default">Edit</button>
                                    </td>
                                    <td>{{detail.Price | currency:'USD':true:'1.2-2'}}</td>
                                    <td>{{this.Math.round(+detail.Quantity * +detail.Price) | currency:'USD':true:'1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="btn btn-success" [routerLink]="['/orders/order-checkout', id]">Check Out</a>
                    </div>
                </template>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div *ngFor="let order of orders">
                <template [ngIf]="order.StatusID === 1">
                    <div class="row">
                    <div class="col-sm-1"><a aria-hidden="true" data-toggle="collapse" [attr.href]="'#detail'+order.ID" aria-expanded="false" [attr.aria-controls]="'detail'+order.ID"><i class="fa fa-plus-square-o" ></i></a></div>
                    <div class="col-sm-2">#<a [routerLink]="['order-detail', order.ID]">{{order.ID}}</a></div>
                    <div class="col-sm-3">Order Code: {{order.OrderCode}}</div>
                    <div class="col-sm-3"> Created Date: {{order.CreatedDate | date}}</div>
                </div>
                <div class="row collapse" id="detail{{order.ID}}">
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <td>
                                    Name
                                </td>
                                <td>
                                    Quantity
                                </td>
                                <td>
                                    Price
                                </td>
                                <td>
                                    Total
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let detail of order.details">
                                <td>{{detail.Product}}</td>
                                <td>
                                    {{detail.Quantity}}
                                    
                                </td>
                                <td>{{detail.Price | currency:'USD':true:'1.2-2'}}</td>
                                <td>{{this.Math.round(+detail.Quantity * +detail.Price) | currency:'USD':true:'1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </template>
                
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div *ngFor="let order of orders">
                <template [ngIf]="order.StatusID === 3">
                    <div class="row">
                        <div class="col-sm-3">
                            <label></label>
                            <i class="fa fa-plus-square-o" aria-hidden="true" data-toggle="collapse" [attr.data-target]="'#detail'+order.ID"></i>
                        </div>
                        <div class="col-sm-3">
                            #<a [routerLink]="['order-detail', order.ID]">{{order.ID}}</a>
                        </div>
                        <div class="col-sm-3">{{order.OrderCode}}</div>
                        <div class="col-sm-3">Created Date: {{order.CreatedDate | date}}</div>
                    </div>
                    <div class="row collapse" id="detail{{order.ID}}">
                        <table class="table">
                            <thead class="thead-inverse">
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        Quantity
                                    </td>
                                    <td>
                                        Price
                                    </td>
                                    <td>
                                        Total
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detail of order.details">
                                    <td>{{detail.Product}}</td>
                                    <td>
                                        {{detail.Quantity}}
                                        
                                    </td>
                                    <td>{{detail.Price | currency:'USD':true:'1.2-2'}}</td>
                                    <td>{{this.Math.round(+detail.Quantity * +detail.Price) | currency:'USD':true:'1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </template>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div *ngFor="let order of orders">
                <template [ngIf]="order.StatusID === 2">
                    <div class="row">
                        <div class="col-sm-3">#<a [routerLink]="['order-detail', order.ID]">{{order.ID}}</a></div>
                        <div class="col-sm-3">{{order.OrderCode}}</div>
                        <div class="col-sm-3">Created Date: {{order.CreatedDate | date}}</div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>
