<div class="col-sm-9">
    <div class="alert-info" *ngIf="message" style="border-radius: 5px; height:30px">{{message}}</div>
    <table class="table" *ngIf="details">
        <thead class="thead-inverse">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Quantity
                </td>
                <td>
                    Price
                </td>
                <td>
                    Total
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of details">
                <td>{{order.Product}}</td>
                <td><input type="text" [(ngModel)]="order.Quantity" id="item{{order.ID}}"/><button (click)="ChangeQuantity(order.ID)">Edit</button></td>
                <td>{{order.Price | currency:'USD':true:'1.2-2'}}</td>
                <td>{{this.Math.round(+order.Quantity * +order.Price) | currency:'USD':true:'1.2-2'}}</td>
            </tr>
        </tbody>
    </table>

</div>

