<h2>Order Detail</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">Order #{{order.ID}}</div>
        <div class="col-md-3">Created Date: {{order.CreatedDate | date}}</div>
        <div class="col-md-3"></div>
    </div>
    <template [ngIf]="order.StoreId != null">

    </template>
    <div class="row">
        <div class="row">
            <div class="col-md-6">{{order.Store}}</div>
            <div class="col-md-6">{{order.Status}}</div>
        </div>
        <div class="row">

        </div>
    </div>
</div>