<div class="container">
    <div class="row">
        <div class="col-sm-9 padding-right">
            <div class="features_items" *ngIf="products">
                <!--features_items-->
                <div class="clearfix"></div>
                <div *ngFor="let product of products">
                    <template [ngIf]="product.Status == 'Available'">
                        <div class="col-sm-4">

                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a [routerLink]="['/products/product-detail', product.ID]"><img src="{{product.ThumbailLink}}" alt=""/></a>
                                        <h2>{{product.Price}}</h2>
                                        <a [routerLink]="['/products/product-detail', product.ID]"><p>{{product.Name}}</p></a>
                                        <button class="btn btn-default add-to-cart" (click)="AddToCart(product.ID)"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </template>
                </div>

                <div class="clearfix"></div>
            </div><!--features_items-->
        </div>
    </div>
</div>





